/* Alignment */
.baseline { vertical-align: baseline; }
.bottom { vertical-align: bottom; }
.center { text-align: center; }
.justify { text-align: justify; }
.left { text-align: left; }
.ltr { direction: ltr; }
.middle { vertical-align: middle; }
.right { text-align: right; }
.rtl { direction: rtl; }
.sub { vertical-align: sub; }
.super { vertical-align: super; }
.text-bottom { vertical-align: text-bottom; }
.text-top { vertical-align: text-top; }
.top { vertical-align: top; }
/* Background */
.border-box-clip { background-clip: border-box; }
.border-box-origin { background-origin: border-box; }
.center-bottom-bg { background-position: center bottom; }
.center-center-bg { background-position: center center; }
.center-top-bg { background-position: center top; }
.content-box-clip { background-clip: content-box; }
.content-box-origin { background-origin: content-box; }
.fixed-attachment { background-attachment: fixed; }
.left-bottom-bg { background-position: left bottom; }
.left-center-bg { background-position: left center; }
.left-top-bg { background-position: left top; }
.no-bg-image { background-image: none; }
.no-bg-repeat { background-repeat: no-repeat; }
.padding-box-clip { background-clip: padding-box; }
.padding-box-origin { background-origin: padding-box; }
.repeat-bg { background-repeat: repeat; }
.repeat-x-bg { background-repeat: repeat-x; }
.repeat-y-bg { background-repeat: repeat-y; }
.right-bottom-bg { background-position: right bottom; }
.right-center-bg { background-position: right center; }
.right-top-bg { background-position: right top; }
.scroll-attachment { background-attachment: scroll; }
/* Background Colors */
.aqua-bg { background-color: aqua; }
.black-bg { background-color: black; }
.blue-bg { background-color: blue; }
.fuchsia-bg { background-color: fuchsia; }
.gray-bg { background-color: gray; }
.green-bg { background-color: green; }
.lime-bg { background-color: lime; }
.maroon-bg { background-color: maroon; }
.navy-bg { background-color: navy; }
.olive-bg { background-color: olive; }
.purple-bg { background-color: purple; }
.red-bg { background-color: red; }
.silver-bg { background-color: silver }
.teal-bg { background-color: teal; }
.transparent-bg { background-color: transparent; }
.white-bg { background-color: white; }
.yellow-bg { background-color: yellow; }
/* Border */
.dashed-bdr { border-style: dashed; }
.dotted-bdr { border-style: dotted; }
.double-bdr { border-style: double; }
.groove-bdr { border-style: groove; }
.hidden-bdr { border-style: hidden; }
.inset-bdr { border-style: inset; }
.medium-bdr { border-width: medium; }
.medium-bdr-bottom { border-bottom-width: medium; }
.medium-bdr-left { border-left-width: medium; }
.medium-bdr-right { border-right-width: medium; }
.medium-bdr-top { border-top-width: medium; }
.no-bdr { border: none; }
.no-bdr-image { border-image: none; }
.no-bdr-radius { border-radius: 0; }
.no-bdr-style { border-style: none; }
.no-box-shadow { box-shadow: none; }
.outset-bdr { border-style: outset; }
.ridge-bdr { border-style: ridge; }
.solid-bdr { border-style: solid; }
.thick-bdr { border-width: thick; }
.thick-bdr-bottom { border-bottom-width: thick; }
.thick-bdr-left { border-left-width: thick; }
.thick-bdr-right { border-right-width: thick; }
.thick-bdr-top { border-top-width: thick; }
.thin-bdr { border-width: thin; }
.thin-bdr-bottom { border-bottom-width: thin; }
.thin-bdr-left { border-left-width: thin; }
.thin-bdr-right { border-right-width: thin; }
.thin-bdr-top { border-top-width: thin; }
/* Border Colors */
.aqua-bdr { border-color: aqua; }
.black-bdr { border-color: black; }
.blue-bdr { border-color: blue; }
.fuchsia-bdr { border-color: fuchsia; }
.gray-bdr { border-color: gray; }
.green-bdr { border-color: green; }
.lime-bdr { border-color: lime; }
.maroon-bdr { border-color: maroon; }
.navy-bdr { border-color: navy; }
.olive-bdr { border-color: olive; }
.purple-bdr { border-color: purple; }
.red-bdr { border-color: red; }
.silver-bdr { border-color: silver }
.teal-bdr { border-color: teal; }
.transparent-bdr { border-color: transparent; }
.white-bdr { border-color: white; }
.yellow-bdr { border-color: yellow; }
/* Box */
.border-box-sizing { box-sizing: border-box; }
.content-box-sizing { box-sizing: content-box; }
/* Cursor */
.alias { cursor: alias; }
.all-scroll { cursor: all-scroll; }
.auto-cursor { cursor: auto; }
.cell { cursor: cell; }
.col-resize { cursor: col-resize; }
.context-menu { cursor: context-menu; }
.copy { cursor: copy; }
.crosshair { cursor: crosshair; }
.default { cursor: default; }
.e-resize { cursor: e-resize; }
.ew-resize { cursor: ew-resize; }
.help { cursor: help; }
.move { cursor: move; }
.n-resize { cursor: n-resize; }
.ne-resize { cursor: ne-resize; }
.nesw-resize { cursor: nesw-resize; }
.no-cursor { cursor: none; }
.no-drop { cursor: no-drop; }
.not-allowed { cursor: not-allowed; }
.ns-resize { cursor: ns-resize; }
.nw-resize { cursor: nw-resize; }
.nwse-resize { cursor: nwse-resize; }
.pointer { cursor: pointer; }
.progress { cursor: progress; }
.row-resize { cursor: row-resize; }
.s-resize { cursor: s-resize; }
.se-resize { cursor: se-resize; }
.sw-resize { cursor: sw-resize; }
.text { cursor: text; }
.vertical-text { cursor: vertical-text; }
.w-resize { cursor: w-resize; }
.wait { cursor: wait; }
/* Dimension */
.h-full { height: 100%; }
.h-nine-tenths { height: 90%; }
.h-four-fifths { height: 80%; }
.h-three-quarters { height: 75%; }
.h-sevent-tenths { height: 70%; }
.h-two-thirds { height: 66.66%; }
.h-three-fifths { height: 60%; }
.h-half { height: 50%; }
.h-two-fifths { height: 40%; }
.h-third { height: 33.33%; }
.h-three-tenths { height: 30%; }
.h-quarter { height: 25%; }
.h-fifth { height: 20%; }
.h-tenth { height: 10%; }
.h-fiftieth { height: 5%; }
.h-hundredth { height: 1%; }
.w-full { width: 100%; }
.w-nine-tenths { width: 90%; }
.w-four-fifths { width: 80%; }
.w-three-quarters { width: 75%; }
.w-sevent-tenths { width: 70%; }
.w-two-thirds { width: 66.66%; }
.w-three-fifths { width: 60%; }
.w-half { width: 50%; }
.w-two-fifths { width: 40%; }
.w-third { width: 33.33%; }
.w-three-tenths { width: 30%; }
.w-quarter { width: 25%; }
.w-fifth { width: 20%; }
.w-tenth { width: 10%; }
.w-fiftieth { width: 5%; }
.w-hundredth { width: 1%; }
/* Display */
.absolute { position: absolute; }
.auto-overflow { overflow: auto; }
.block { display: block; }
.bring-forward { z-index: 1; }
.clear { clear: both; }
.clear-left { clear: left; }
.clear-right { clear: right; }
.collapse { visibility: collapse; }
.fixed { position: fixed; }
.float-left { float: left; }
.float-right { float: right; }
.hidden-overflow { overflow: hidden; }
.inline { display: inline; }
.no-clear { clear: none; }
.no-display { display: none; }
.no-float { float: none; }
.relative { position: relative; }
.scroll-overflow { overflow: scroll; }
.send-back { z-index: -1; }
.static { position: static; }
.visible-overflow { overflow: visible; }
/* List */
.armenian { list-style-type: armenian; }
.circle { list-style-type: circle; }
.disc { list-style-type: disc; }
.decimal { list-style-type: decimal; }
.decimal-leading-zero { list-style-type: decimal-leading-zero; }
.georgian { list-style-type: georgian; }
.inside { list-style-position: inside; }
.lower-alpha { list-style-type: lower-alpha; }
.lower-greek { list-style-type: lower-greek; }
.lower-latin { list-style-type: lower-latin; }
.lower-roman { list-style-type: lower-roman; }
.no-list-image { list-style-image: none; }
.no-list-type { list-style-type: none; }
.outside { list-style-position: outside; }
.square { list-style-type: square; }
.upper-alpha { list-style-type: upper-alpha; }
.upper-latin { list-style-type: upper-latin; }
.upper-roman { list-style-type: upper-roman; }
/* Margin */
.no-bottom-mgn { margin-bottom: 0; }
.no-horizontal-mgn { margin-left: 0; margin-right: 0; }
.no-left-mgn { margin-left: 0; }
.no-mgn { margin: 0; }
.no-right-mgn { margin-right: 0; }
.no-top-mgn { margin-top: 0; }
.no-vertical-mgn { margin-bottom: 0; margin-top: 0; }
/* Opacity */
.o-full { opacity: 1.0; }
.o-nine-tenths { opacity: 0.9; }
.o-four-fifths { opacity: 0.8; }
.o-three-quarters { opacity: 0.75; }
.o-sevent-tenths { opacity: 0.7; }
.o-two-thirds { opacity: 0.66; }
.o-three-fifths { opacity: 0.6; }
.o-half { opacity: 0.5; }
.o-two-fifths { opacity: 0.4; }
.o-third { opacity: 0.33; }
.o-three-tenths { opacity: 0.3; }
.o-quarter { opacity: 0.25; }
.o-fifth { opacity: 0.2; }
.o-tenth { opacity: 0.1; }
.o-fiftieth { opacity: 0.05; }
.o-hundredth { opacity: 0.01; }
/* Outline */
.auto-out { outline-style: auto; }
.dashed-out { outline-style: dashed; }
.dotted-out { outline-style: dotted; }
.double-out { outline-style: double; }
.groove-out { outline-style: groove; }
.inset-out { outline-style: inset; }
.medium-out { outline-width: medium; }
.no-out { outline: none; }
.no-out-style { outline-style: none; }
.outset-out { outline-style: outset; }
.ridge-out { outline-style: ridge; }
.solid-out { outline-style: solid; }
.thick-out { outline-width: thick; }
.thin-out { outline-width: thin; }
/* Outline Colors */
.aqua-out { outline-color: aqua; }
.black-out { outline-color: black; }
.blue-out { outline-color: blue; }
.fuchsia-out { outline-color: fuchsia; }
.gray-out { outline-color: gray; }
.green-out { outline-color: green; }
.invert-out { outline-color: invert; }
.lime-out { outline-color: lime; }
.maroon-out { outline-color: maroon; }
.medium-out { outline-width: medium; }
.navy-out { outline-color: navy; }
.olive-out { outline-color: olive; }
.purple-out { outline-color: purple; }
.red-out { outline-color: red; }
.silver-out { outline-color: silver }
.teal-out { outline-color: teal; }
.transparent-out { outline-color: transparent; }
.white-out { outline-color: white; }
.yellow-out { outline-color: yellow; }
/* Padding */
.no-bottom-pad { padding-bottom: 0; }
.no-horizontal-pad { padding-left: 0; padding-right: 0; }
.no-left-pad { padding-left: 0; }
.no-pad { padding: 0; }
.no-right-pad { padding-right: 0; }
.no-top-pad { padding-top: 0; }
.no-vertical-pad { padding-bottom: 0; padding-top: 0; }
/* Resize */
.no-resize { resize: none; }
.resize-both { resize: both; }
.resize-horizontal { resize: horizontal; }
.resize-vertical { resize: vertical; }
/* Size */
.large { font-size: large; }
.larger { font-size: larger; }
.medium { font-size: medium; }
.small { font-size: small; }
.smaller { font-size: smaller; }
.x-large { font-size: x-large; }
.x-small { font-size: x-small; }
.xx-large { font-size: xx-large; }
.xx-small { font-size: xx-small; }
/* Text */
.blink { text-decoration: blink; }
.bold { font-weight: bold; }
.bolder { font-weight: bolder; }
.capitalize { text-transform: capitalize; }
.italic { font-style: italic; }
.line-through { text-decoration: line-through; }
.lighter { font-weight: lighter; }
.lowercase { text-transform: lowercase; }
.normal { font-style: normal; font-variant: normal; font-weight: normal; text-transform: none; text-decoration: none; white-space: normal; }
.nowrap { white-space: nowrap; }
.oblique { font-style: oblique; }
.overline { text-decoration: overline; }
.pre { white-space: pre; }
.pre-line { white-space: pre-line; }
.pre-wrap { white-space: pre-wrap; }
.small-caps { font-variant: small-caps; }
.truncate { overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.underline { text-decoration: underline; }
.uppercase { text-transform: uppercase; }
/* Text Colors */
.aqua { color: aqua; }
.black { color: black; }
.blue { color: blue; }
.fuchsia { color: fuchsia; }
.gray { color: gray; }
.green { color: green; }
.lime { color: lime; }
.maroon { color: maroon; }
.navy { color: navy; }
.olive { color: olive; }
.purple { color: purple; }
.red { color: red; }
.silver { color: silver }
.teal { color: teal; }
.white { color: white; }
.yellow { color: yellow; }